<section>
	<grid>
		<div col="1/1" id="cards">
			<card txt="c" onclick="location.href='/vet/pet'">
				<p class="sub-title">Pets</p>
				<p>
					Veja as principais informações de um Pets
				</p>
			</card>
		</div>
	</grid>
</section>
<style>
	#cards {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	#cards card {
		width: 200px;
		height: 200px;
		margin: 10px;
		display: flex;
		flex-direction: column;
		cursor: pointer;
		justify-content: center;
	}

	#cards card p {
		display: '';
	}

	#cards card h3 {
		margin: 0;
		padding: 0;
	}

	#cards card:hover p {
		display: block;
	}

	#cards card:hover {
		background: #eee;
	}

	.sub-title {
		margin: 0;
		padding: 0;
		font-size: 1.5em;
		font-weight: 300;
	}
</style>