<nav fx>
    <label>
        <input type="checkbox">

        <header>
            <a href="/user">
                <img src="/assets/imgs/icons/favicon.ico" height="50">
            </a>
        </header>
        <ul>
            <li>
                <a href="/user">Login</a>
            </li>
        </ul>
        {{!-- <ul>
            <li><a href="/user">Home</a></li>
            <li>
                <a>Menu</a>
                <menu>
                    <menuitem><a href="/user/Cupons">Teste</a></menuitem>
                </menu>
            </li>
            <li><a href="/user/logout">Sair</a></li>
        </ul> --}}
    </label>
</nav>