<section txt="c">
	<grid>
		<form action="/vet/pet" method="post">
			<input type="text" name="application" value="hbs" style="display: none;">
			<div col="1/2">
				<card>
					<label for="usuario" txt="c">Pet ID</label>
						<input type="pedID" name="pedID" id="pedID" placeholder="Coloque o ID do Pet" required>
						<button btn type="submit">Pesquisar</button>
						<a href="/vet/pet/info">info</a>
				</card>	
			</div>
		</form>
	</grid>
</section>