<section txt="c">
	<grid>
		<div col="1/2">
			<card>
				<label for="provisoryID" txt="c">Pet ID</label>
					<input tct="c" type="provisoryID" name="provisoryID" id="provisoryID" placeholder="Coloque o ID do Pet" required>
					<button onclick="searchPet()">Pesquisar</button>
			</card>	
		</div>
	</grid>
</section>
<script src="/assets/js/vet/pet.view.js"></script>