<section txt="c">
    <grid>
        <form action="" method="post">
            <div col="1/2">
                <card>
                    <h1>{{message}}</h1>
                    <h2>{{error.status}}</h2>
                </card>
            </div>
        </form>
    </grid>
</section>