<section txt="c">
	<grid>
		<form action="/admin/login" method="post">
			<div col="1/2">
				<card>
					<label for="usuario" txt="c">LOGIN</label>
						<input type="user" name="user" id="user" placeholder="Usuário" required>

						<input type="password" name="senha" id="senhaID" placeholder="Senha" required>

						<button btn type="submit">Entrar</button>
				</card>
			</div>
		</form>
	</grid>
</section>