<section txt="c">
	<grid>
		<form action="/api/user/auth" method="post">
			<input type="text" name="application" value="hbs" style="display: none;">
			<div col="1/2">
				<card>
					<label for="usuario" txt="c">LOGIN</label>
						<input type="email" name="email" id="email" placeholder="Usuário" required>

						<input type="password" name="password" id="senhaID" placeholder="Senha" required>

						<button btn type="submit">Entrar</button>
				</card>	
			</div>
		</form>
		<form action="/vet/create" method="get">
			<button>Register</button>
		</form>
	</grid>
</section>