body{
	background-color: #00B8FF;
}
header{
	text-align: center;
	font-size: 30px;
}
table{
	position: relative;
	max-width: 1000px;
 	margin: 0 auto 100px;
  	padding: 45px;
  	text-align: center;
  	background-color: #B7B5B6;
}

#botao1{
	text-align: center;
}